<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">OneStopCodeShop</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="https://eneaantonicelli.github.io/Project1/index.html">Code Search App</a></li>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="https://eneaantonicelli.github.io/Project1/index.html">Code Search App</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/register">Register</a></li>
</ul>