<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">OneStopCodeShop</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://eneaantonicelli.github.io/Project1/index.html">Code Search App</a></li>
                <li><a href="/login">Login / Register</a></li>
            </ul>
        </div>
    </nav>
</div>