<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="styles/materialize.min.css" media="screen,projection" />
  <!--Our CSS-->
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display|Pontano+Sans|Quicksand|Roboto+Condensed"
    rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>OneStopCodeShop | Forum</title>
</head>

<body>

  {{> nav}}

  {{{body}}}

  <footer>
    <div class="navbar-fixed footer">
      <nav>
        <div class="nav-wrapper">
          chat here
        </div>
      </nav>
    </div>
  </footer>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>