<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          {{#each forum}}
          <div>
            <p><strong>ID</strong>: {{this.id}}</p>
            <p><strong>Title</strong>: {{this.username}}</p>
          </div>
          {{/each}}
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
