<!--Splash Welcome Page-->

<div class="splash">
  <div class="splash-img-opacity">
    <div id="overlay-text">
      ONESTOPCODESHOP
      <div class="line"></div>
      THE FORUM
      <p class="splash-lead">Where beginner coders can come together to learn</p>
      <a class="waves-effect waves-light btn-large enter" href="/forum">ENTER</a>
    </div>
  </div>
</div>