<div class="container">

    <div class="row main-title">
        FORUMS
        <div class="line"></div>
    </div>

    <div class="row">
        <!-- post body -->
        <div class="col m9 forum-col">
            <table>
                <!-- forum headers -->
                <tr class="th">
                    <th class="tcol1">TOPICS</th>
                    <th class="tcol2">POSTS</th>
                    <th class="tcol3">FRESHNESS</th>
                </tr>
                <!-- forum data -->
                <!-- for each loop through categories-->
                {{#each topics}}
                <tr>
                    <td><a href="/topics/{{this.id}}">{{this.topic_name}}</a></td>
                    <td class="tcol2">{{this.topic_number}}</td>
                    <td>{{this.updatedAt}}</td>
                </tr>
                {{/each}}
            </table>
        </div>

        <!-- sidebar -->
        <div class="col m3">
            {{> sidebar}}
        </div>

    </div>
</div>