<div class="container">

    <div class="row main-title">
        FORUMS
        <div class="line"></div>
    </div>


    <div class="row forum-body">
        <!-- post body -->
        <div class="col m9 forum-col">
            <table>
                <!-- forum headers -->
                <tr class="th">
                    <th class="tcol1">TOPICS</th>
                    <th class="tcol2">POSTS</th>
                    <th class="tcol3">FRESHNESS</th>
                </tr>
                <!-- forum data -->
                <!-- for each loop through categories-->
                {{#each topics}}
                <tr>
                    <td>{{this.topic_name}}</td>
                    <td>0</td>
                    <td>{{this.createdAt}}</td>
                </tr>
                {{/each}}
            </table>
        </div>

        <!-- sidebar -->
        <div class="col m3">
            <div class="sidebar">

    <!-- search bar -->
    <div class="nav-wrapper">
        <form class="searchbar">
            <div class="input-field">
                <input id="search" type="search" placeholder="SEARCH" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>

    <!-- top posts -->
    <div class="top-posts">
        <div class="title">POPULAR POSTS</div>
        <!-- for each hb loop with top posts object -->
        <ul>
            {{#each topics}}
            <li>{{this.postID.post_subject}}</li>
            {{/each}}
        </ul>
    </div>

</div>
        </div>
    </div>
</div>