<div class="container">
  <div class="row">
    <div class="col s6 offset-s3 login-body">

      <div class="main-title">LOG IN
        <div class="line"></div>
      </div>

      <div class="login-form">
        {{#if errors }}
          <section class="errors">
            <ul>
              {{#each errors }}
                <li>{{ this.msg }}</li>
              {{/each}}
            </ul>
          </section>
        {{/if}}
        <form action="/login" method="post">
          <div class="input input-field col s12">
            <label for="username">Username</label>
            <input type="text" id="forum_username" name="username">
          </div>
          <div class="input input-field col s12">
            <label for="password">Password</label>
            <input type="password" id="forum_password" name="password">
          </div>
          <button class="btn waves-effect waves-light" type="submit" id="login" name="action">LOG IN
            <i class="material-icons right">chevron_right</i>
          </button>
          <p>Don't have an account? <a href="/register">Sign up here!</a></p>
        </form>
      </div>
      
    </div>
  </div>
</div>