<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          {{msg}}
          {{#if errors }}
            <section class="errors">
                <ul>
                    {{#each errors }}
                        <li>{{ this.msg }}</li>
                    {{/each}}
                </ul>
            </section>
          {{/if}}
            <form action="/login" method="post">
                <div class="input">
                    <label for="username">Username</label>
                    <input type="text" id="email" name="username">
                </div>
                <div class="input">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <button type="submit" id="login">Log In</button>
            </form>
            <a href="/register">Don't have an account?</a>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>