<div class="container">

  <div class="row main-title">
    CREATE NEW POST
    <div class="line"></div>
  </div>


  <div class="row">
    <!-- post body -->
    <div class="col-md-9 forum-col">
      <div class="row">

        <form class="col-sm-12">
          <div class="row">
            <div class="input-field col-sm-12">
              <input id="post_title" type="text">
              <label for="post_title" id="textarea1">Post Title</label>
            </div>

            <!-- need to initialize in jquery and add topics to select menu -->
            <div class="input-field col-sm-12">
              <select class="browser-default" id="topic_name">
                <option value="" disabled selected>Choose Topic</option>
                <option value="1">HTML</option>
                <option value="2">CSS</option>
                <option value="3">Javascript</option>
                <option value="4">API/AJAX</option>
                <option value="5">mySQL</option>
              </select>
            </div>

            <div class="input-field col-sm-12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label id="textarea1">Description (Required)</label>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action" id="submit">Submit
              <i class="material-icons right">send</i>
            </button>

          </div>
        </form>

      </div>
    </div>

    <!-- sidebar -->
    <div class="col-md-3">
      {{> sidebar}}
    </div>

  </div>
</div>