<div class="container">

  <div class="row main-title">
    CREATE NEW POST
    <div class="line"></div>
  </div>


  <div class="row">
    <!-- post body -->
    <div class="col m9 forum-col">
      <div class="row">

        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="post_title" type="text">
              <label for="post_title" id="textarea1">Post Title</label>
            </div>

            <!-- need to initialize in jquery -->
            <div class="input-field col s12">
              <select class="browser-default">
                <option value="" disabled selected>Choose Topic</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>

            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label id="textarea1">Description (Required)</label>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action" id="textarea1">Submit
              <i class="material-icons right">send</i>
            </button>

          </div>
        </form>

      </div>
    </div>

    <!-- sidebar -->
    <div class="col m3">
      {{> sidebar}}
    </div>

  </div>
</div>