<div class="container">

  <div class="row main-title">MY ACCOUNT
    <div class="line"></div>
  </div>

  <div class="row forum-body">
    <div class="col m8 forum-col">
      <div class="body-title">POSTS</div>
      <!-- for each loop for hb for all user posts -->
      <ul class="user-posts">
        <li>asdf</li>
      </ul>
      <div class="body-title">COMMENTS</div>
      <!-- for each loop for hb for all user comments -->
      <ul class="user-posts">
        <li>asdf</li>
      </ul>
    </div>

    <div class="col m4">
      <div class="register-form">
        <table>
          <tbody>
            <tr>
              <td class="acct-property">Username: </td>
              <td>{{username}}</td>
            </tr>
            <tr>
              <td class="acct-property">First Name: </td>
              <td>{{firstName}}</td>
            </tr>
            <tr>
              <td class="acct-property">Last Name: </td>
              <td>{{lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>