<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      
      <div class="main-title">MY ACCOUNT
        <div class="line"></div>
      </div>
      
      
      
      
      
      <div class="card mt-4">
        <div class="card-body">
          <p>
            <strong>Text</strong>: {{users.user_name}}</p>
          <p>
            <a href="/">← Back To Home</a>
            <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
