<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Topics</h5>
                    <div>
                        <p>{{topics.topic_name}}</p>
                        <p>{{topics.topic_description}}</p>
                    </div>
                    {{#each posts}}
                    <div>
                        <p><strong>Post Name</strong>: {{this.post_subject}}</p>
                    </div>
                    {{/each}}
                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>