<div class="container">

    <div class="row main-title">
        TOPIC // {{topics.topic_name}}
        <div class="line"></div>
    </div>

    <div class="row">
        <!-- post body -->
        <div class="col m9 forum-col">
            <table>
                <!-- forum headers -->
                <tr class="th">
                    <th class="tcol1">THREAD</th>
                    <th class="tcol2">REPLIES</th>
                    <th class="tcol3">FRESHNESS</th>
                </tr>
                <!-- forum data -->
                <!-- for each loop through categories-->
                {{#each posts2}}
                <tr>
                    <td><a href="/posts/{{this.id}}">{{this.post_subject}}</a></td>
                    <td class="tcol2">0</td>
                    <td>{{this.updatedAt}}</td>
                </tr>
                {{/each}}
            </table>

            <div class="go-back"><a href="/forum"><i class="material-icons tiny">arrow_back</i> BACK TO FORUM</a></div>

        </div>

        <!-- sidebar -->
        <div class="col m3">
            {{> sidebar}}
        </div>

    </div>
</div>